:root {
    /*Color palatte*/
    --color-white: #fff;
    --color-grey-light: #ccc;

    /*Spacing*/
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-xxl: 40px;
    --space-3xl: 64px;

    /*Typografi*/
    --font-size-sm: 0.75rem;  /* 12px */
    --font-size-base: 1rem;   /* 16px */
    --font-size-md: 1rem; /* 20px */
    --font-size-lg: 1.5rem;  /* 24px */
    --font-size-xl: 1.5rem;   /* 32px */
    --font-size-xxl: 2.5rem;    /* 40px */
    --font-sixe-3xl: 1.75rem; /* 48px */

    /*Övrigt*/
    --radius-pill: 999px;
    --radius-lg: 24px;
}

/* ----- DEFAULTS ----- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

/* ----- FONTS ----- */
body {
    color: var(--color-white);
    text-align: center;
}

h1 {
    margin-top: var(--space-md);
    font-size: var(--font-size-xxl);
}

h2 {
    font-size: var(--font-size-xl);
    margin-top: var(--font-size-sm);
}

h3 {
    font-size: var(--font-size-xl);
    margin-bottom: var(--space-lg);
}

p {
    font-size: var(--font-size-md);
}

.degrees {
    font-size: var(--font-sixe-3xl);
}

.lightText {
    color: var(--color-grey-light);
}

/* ----- GLOBAL ----- */
body {
    display: flex;
    flex-direction: column;
    background-image: url(./images/background.jpg);   background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
    margin-bottom: var(--space-3xl);
}

/* ----- SEARCH BAR ----- */
#searchBar {
    position: relative;
    display: inline-block;
    margin-top: var(--space-xl);
}

input {  
    margin: var(--space-xl) 0;
    border: none;
    height: 40px;
    width: 85vw;
    max-width: 450px;
    padding: var(--space-xs) var(--space-md);
    border-radius: var(--radius-pill);
}

/* Ta bort "x" från inputfältet */
input::-webkit-search-cancel-button {
  display: none;
}

button img {
    width: 16px;
}

button {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 50%; /*Centrerar vertikalt i header*/
    transform: translateY(-50%); /*Centrerar sig självt*/
    right: 20px;
}


/* ----- CARDS ----- */
#container {
    max-width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-self: center;
    color: var(--color-white);
    margin-top: var(--space-xl);
    margin-bottom: var(--space-lg);
    gap: var(--space-md);
}

.weatherBox {
    display: grid;
    border-radius: var(--radius-lg);
    padding: var(--space-md);
    justify-content: center;
    grid-template-areas: 
    "city city"
    "icon info" ;
    /*Glass effect*/
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background-color: #ffffff1e;
    border-radius: 25px;
    border: 1px solid #ffffff73;
    box-shadow: 0 8px 32px #cccccca9,
    inset 0 0 20px 10px #ffffff73;
}

.weatherBox:first-child {
  grid-column: 1 / -1;
}

.cityHeader {
    grid-area: city;
}

.weatherIcon {
    grid-area: icon;
    font-size: 4rem;
    line-height: 1;
    justify-self: center;
    align-self: center;
}

.weatherInfo {
    grid-area: info;
    text-align: start;
}

.degreesContainer {
    display: flex; /*Sätter gradtecknet bredvid siffran*/
}

/* ----- MEDIA QUERIES ----- */

@media (min-width: 1025px) {

    #container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        gap: var(--space-xl);
    }

    .weatherBox:first-child {
        grid-column: auto;
    }

    .weatherBox {
        padding: var(--space-xxl);
    }
}

@media (min-width: 600px) {
    :root {
        /*Typografi*/
        --font-size-sm: 0.75rem;  /* 12px */
        --font-size-base: 1rem;   /* 16px */
        --font-size-md: 1.25rem; /* 20px */
        --font-size-lg: 1.5rem;  /* 24px */
        --font-size-xl: 2rem;   /* 32px */
        --font-size-xxl: 2.5rem;    /* 40px */
        --font-sixe-3xl: 3rem; /* 48px */
    }

    input {
        margin-top: 0;
    }

    button {
        top: 22px;
    }

    .weatherBox {
        padding: var(--space-lg);
    }
    

    .weatherIcon {
        font-size: 6rem;
    }
}